body {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat-bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/*************ID Selectors*************/
#title {
  background-color: #ff4c68;
  color: #fff;
}

#intro {
  font-size: 3.75rem;
  line-height: 1.5;
  font-family: Montserrat-Black;
  font-weight: bolder;
}

#testimonials {
  text-align: center;
  background-color: #ef6172;
  color: #fff;
}



#press {
  background-color: #ef6172;
  text-align: center;
  padding-bottom: 4%;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  font-family: Montserrat-Black;
  font-size: 1rem;
  line-height: 1.5;
  padding: 7% 15%;

}





#footer {
  background-color: #fff;
  color: #ff4c68;
  text-align: center;
  padding-bottom: 20px;
}

/*************Class Selectors************/
.cta{
  font-size: 3.5rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.footer-links {
  margin-bottom: 15px;
  margin-top: 20px;
}

.container-fluid {
  padding: 3% 15% 3% 15%;
}

/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-weight: Ubuntu-bold;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: Montserrat-light;
}

.col-lg-6 {
  padding-top: 4.5rem;
}

/* Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  margin-top: 150px;
}

.row {
  margin: 20px;
  text-align: center;
}

.fas {
  padding-bottom: 20px;
  color: #ef6172;
}

.fas:hover {
  color: #ff4c68;
}

.col-lg-4 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-specs {
  text-align: center;
  padding: 100px;
  font-family: Montserrat-bold;
}

.col-lg-6 {
  margin-top: -150px;
}
